name: Deploy Salesforce (Produção)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-salesforce:
    runs-on: ubuntu-latest
    steps:
      # 1. Baixar o código do repositório
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Instala o Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3. Instala a CLI do Salesforce
      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global

      # 4. Cria o arquivo de chave temporário
      - name: Create JWT Key File
        run: echo "${{ secrets.SF_PRIVATE_KEY }}" > server.key

      # 5. Autentica no Salesforce usando JWT
      - name: Authenticate with JWT
        run: |
          sf org login jwt \
            --client-id ${{ secrets.SF_CONSUMER_KEY }} \
            --username ${{ secrets.SF_USERNAME }} \
            --jwt-key-file server.key \
            --set-default-dev-hub \
            --alias prod-org

      # 6. Faz o Deploy Real
      - name: Deploy to Production
        run: |
          echo "Iniciando deploy real..."
          sf project deploy start --target-org prod-org --source-dir force-app --wait 10